@model TODOList.Models.TODOItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TODOItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Concluido" /> @Html.DisplayNameFor(model => model.Concluido)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraInsercao" class="control-label"></label>
                <input asp-for="DataHoraInsercao" class="form-control" />
                <span asp-validation-for="DataHoraInsercao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraVencimento" class="control-label"></label>
                <input asp-for="DataHoraVencimento" class="form-control" />
                <span asp-validation-for="DataHoraVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFinalizacao" class="control-label"></label>
                <input asp-for="DataHoraFinalizacao" class="form-control" />
                <span asp-validation-for="DataHoraFinalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraAtualização" class="control-label"></label>
                <input asp-for="DataHoraAtualização" class="form-control" />
                <span asp-validation-for="DataHoraAtualização" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
