@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Bem Vindo</h1>
  <p><a href="/Acesso">Acesse a TODO List</a>.</p>

  <a class="nav-link text-dark" asp-area="" asp-controller="Acesso" asp-action="Index">Acesso</a>

</div>
